[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pysorteddict"
version = "0.0.2"
authors = [
    {name = "Vishal Pankaj Chandratreya"},
]
description = "Python sorted dictionary: a Python dictionary in which the keys are always in ascending order"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/tfpf/pysorteddict"
"Bug Tracker" = "https://github.com/tfpf/pysorteddict/issues"

[tool.ruff]
line-length = 119

[tool.ruff.lint]
ignore = ["S311", "T201"]
