@font-face {
  font-family: "Signika";
  font-weight: 300;
  src: url(../fonts/Signika/static/Signika-Light.ttf);
}

@font-face {
  font-family: "Signika";
  font-weight: 400;
  src: url(../fonts/Signika/static/Signika-Regular.ttf);
}

@font-face {
  font-family: "Signika";
  font-weight: 500;
  src: url(../fonts/Signika/static/Signika-Medium.ttf);
}

@font-face {
  font-family: "Signika";
  font-weight: 600;
  src: url(../fonts/Signika/static/Signika-SemiBold.ttf);
}

@font-face {
  font-family: "Signika";
  font-weight: 700;
  src: url(../fonts/Signika/static/Signika-Bold.ttf);
}

summary {
  color: var(--color-link);
  cursor: pointer;
}

summary:hover {
  text-decoration: underline;
}

ul.change-break::before {
  content: "Breaking Changes ❗";
  font-weight: bold;
}

ul.change-fix::before {
  content: "Fixes and Improvements 🛠️";
  font-weight: bold;
}

ul.change-new::before {
  content: "New Features ➕";
  font-weight: bold;
}

.notice {
  background: rgba(39, 180, 166, 0.2);
  border-left: 4px solid rgb(39, 180, 166);
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}

.warning {
  background: rgba(175, 175, 95, 0.2);
  border-left: 4px solid rgb(175, 175, 95);
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}
