summary {
  color: var(--color-link);
  cursor: pointer;
}

summary:hover {
  text-decoration: underline;
}

ul.change-break, ul.change-fix, ul.change-new {
  list-style: none;
}

ul.change-break li::before {
  content: "🔴";
  margin-right: 8px;
}

ul.change-fix li::before {
  content: "🟡";
  margin-right: 8px;
}

ul.change-new li::before {
  content: "🟢";
  margin-right: 8px;
}

.notice {
  background: rgba(39, 180, 166, 0.2);
  border-left: 4px solid rgb(39, 180, 166);
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}

.warning {
  background: rgba(175, 175, 95, 0.2);
  border-left: 4px solid rgb(175, 175, 95);
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}
