name: ci
on:
  push:
    paths:
      - '.github/workflows/ci.yml'
      - 'src/**'
      - 'tests/**'
      - '.clang-format'
      - 'meson.build'
      - 'pyproject.toml'
  workflow_dispatch:

jobs:
  build-native:
    strategy:
      matrix:
        os: ['ubuntu-24.04']
    name: build-native on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v3.3.0
        with:
          output-dir: wheelhouse
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: wheelhouse/*.whl
