name: ci
on:
  push:
    paths:
      - '.github/workflows/ci.yml'
      - 'src/**'
      - 'tests/**'
      - '.clang-format'
      - 'MANIFEST.in'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: ['windows-2025']
    name: build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v3.2.0
        with:
          output-dir: wheelhouse
